body {
  text-align: center;
  color: #ffffff;
  font-family: "Monaco", Courier, monospace;
  font-size: 16px;
  background-color: #B0413E;
}

header {
  font-size: 40px;
  margin: 10px;
}

#frame {
  height: 870px;
  width: 600px;
  background-color:#548687;
  border-radius: 28px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  
}

#display {
  height: 150px;
  width: 510px;
  background-color: #FFFFC7;
  border-radius: 28px;
  margin-top: 48px;
}

#controls {
  height: 570px;
  width: 520px;
  background-color: #FFFFC7;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 18px;
}

.button {
  background-color: #1D3354;
  text-align: center;
  width:  10px;
  height: 20px;
  padding: 36px 40px;
  border-radius: 5px;
  margin: 14px;
}

#clear, 
#delete {
  width: auto;
  padding: 36px 10px;
}

#equal {
  height: 125px;
}

footer {
  position: fixed;
  background-color: #963c38;
  width: 100vw;
  padding: 4px;
  bottom: 0;
  left: 0;
}